body {
  margin: 0;
  font-family: "PT Serif", serif;
  font-size: 20px;
}

.idyll-root {
  padding: 0;
}

.font-lora {
  font-family: "Lora", serif;
}

@media (min-width: 600px) {
  .two-col-parent {
    display: flex;
  }

  .two-col-child {
    width: 50%;
  }
}

a, a:visited, a:hover {
  border: none;
  box-shadow: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.aside, .aside p {
  font-size: 14px;
  line-height: unset;
}